extends index

block contenido
  h2 Contacto
  p(style="margin-bottom: 10px; font-size: 18px;") Número de Teléfono: 921 894 049
  p(style="margin-bottom: 10px; font-size: 18px;") Correo Electrónico: katimaps18@gmail.com
  p(style="margin-bottom: 10px; font-size: 18px;") 
  | LinkedIn: 
  a(href="https://www.linkedin.com/in/katherine-milagros-quispe-arias-67a6932a0/" style="color: blue; text-decoration: none; cursor: pointer;") 
    | LinkedIn

