doctype html
html(lang="es")
    head
        meta(charset='UTF-8')
        title Error 404
        link(rel='stylesheet', href='/css/styles.css')
    body
        header
            h1 Página no encontrada
        main
            p La página que estás buscando no existe.
        footer
            p Derechos reservados © 2024
