extends index

block contenido
  h2 Habilidades
  ul(style="list-style-type: none; padding: 0;")
    li(style="margin-bottom: 10px; font-size: 18px;") Capacidad para trabajar bajo presión
    li(style="margin-bottom: 10px; font-size: 18px;") Trabajo en equipo
    li(style="margin-bottom: 10px; font-size: 18px;") Habilidades comunicativas
    li(style="margin-bottom: 10px; font-size: 18px;") Trato amable y cercano

  // Estilos CSS en línea
  style.
    /* Estilos para la lista de habilidades */
    ul {
      list-style-type: none;
      padding: 0;
    }
    
    li {
      margin-bottom: 10px;
      font-size: 18px;
    }
